 .list_countries{
   width: 80%;
   margin: auto;
    .titre{
      margin: 1% 2%;
      color: white;
    }
    .list_entete{ 
      display: none;
    }
    .visible{
      display: inline-table;
      border-spacing: 10px;
      width: 100%;
      font-size: 1.3em;
    }
    .list_corps{
      text-align: center;
    }
  }