.profil{
  display: flex;
  justify-content: space-evenly;
.name{
  color: white;
  text-transform: capitalize;
  font-family: 'Lora', serif;
  margin-right: 15%;
}
img{
  border-radius: 20%;
  width: 20%;

}
}
.map{
  h1{
    color: white;
    font-family: 'Lora', serif;
  }

  font-size: 1.25rem;
}
