.header{
  font-family: 'Lora', serif;
  display: flex;
  background-color: #031139;
  color:#faa430;
  img{
    width: 40%;
    height: auto;
  }
  ul{
    display: flex;
    flex-direction: row;
     width: 100%;
    li{
      list-style: none;
      margin: 5%;
     
    }
  }

}
